extends ../layouts/default.pug

block page-header
    h3 Thanks for registering, #{username}.

block content
    h4 Your Aura Number is #{auraNumber}. Keep this safe, You need to enter this if you want to login.